<div class="search-form mt-5">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Nhập từ khoá">            
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>